[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs-material = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-macros-plugin = {ref = "v0.5.12", git = "https://github.com/fralau/mkdocs_macros_plugin"}

[requires]
python_version = "3.9"
